
File
  RuleGroup
    LexerKeyword
    LCurly
    Newline
    Rule
      Attribute
        At
        Ident
        Newline
      Ident
      Equals
      PostExpr
        CallExpr
          LAngle
          Ident
          RAngle
        Plus
      Newline
    Rule
      Ident
      Equals
      Atom
        String
      Newline
    Rule
      Ident
      Equals
      Atom
        String
      Newline
    Rule
      Ident
      Equals
      PostExpr
        CallExpr
          LAngle
          Ident
          RAngle
        Plus
      Newline
    Newline
    Rule
      Ident
      Equals
      CallExpr
        LAngle
        Ident
        RAngle
      Newline
    RCurly
  Newline
  Newline
  RuleGroup
    ParserKeyword
    LCurly
    Newline
    Rule
      Attribute
        At
        Ident
        Newline
      Ident
      Equals
      Atom
        Ident
      Newline
    Newline
    Newline
    Rule
      Ident
      Equals
      PrattExpr
        PrattKeyword
        LCurly
        Newline
        Rule
          Ident
          Equals
          Atom
            Ident
          Newline
        Rule
          Ident
          Equals
          SequenceExpr
            Atom
              Ident
            Atom
              String
            Atom
              Ident
          Newline
        Rule
          Ident
          Equals
          SequenceExpr
            Atom
              Ident
            Atom
              String
            Atom
              Ident
          Newline
        RCurly
      Newline
    RCurly
  Newline
